body{
  margin:0;
  background:#eef2f7;
  font-family:Arial, Helvetica, sans-serif;
}

.chat-container{
  width:420px;
  height:650px;
  margin:25px auto;
  background:white;
  border-radius:18px;
  box-shadow:0 8px 25px rgba(0,0,0,.15);
  display:flex;
  flex-direction:column;
  overflow:hidden;
}

.header{
  background:#5b21b6;
  color:white;
  text-align:center;
  padding:18px;
  font-size:24px;
  font-weight:bold;
}

.chat-messages{
  flex:1;
  overflow-y:auto;
  padding:15px;
  display:flex;
  flex-direction:column;
  gap:12px;
  background:#f8fafc;
}

.bot-message{
  background:white;
  padding:12px;
  border-radius:15px;
  max-width:80%;
  align-self:flex-start;
  box-shadow:0 2px 5px rgba(0,0,0,.1);
  text-align: left;
}

.user-message{
  background:#5b21b6;
  color:white;
  padding:12px;
  border-radius:15px;
  max-width:80%;
  align-self:flex-end;
}

.input-box{
  width:calc(100% - 30px);
  margin:10px auto;
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  outline:none;
  font-size:15px;
}

.button{
  width:calc(100% - 30px);
  margin:5px auto;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#5b21b6;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.button:hover{
  background:#4c1d95;
}